:root {
	--base-font-color: #f8f8f8;

	--accent-blue: #14ffff;
}

@viewport {
	width: 100vw;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #262f3f;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 700;
	color: var(--base-font-color);
}

h1 {
	font-size: 60px;
	letter-spacing: 0.1rem;
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}
